


  /*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts 
    @import url(//fonts.googleapis.com/css?family=Font+Name);
  */
  
  @import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@300;400;500&family=Raleway:wght@300;500&display=swap');
  
  @import "~react-image-gallery/styles/css/image-gallery.css";/*react gallery*/

  .image-gallery-slide .image-gallery-description {
    /* background: rgba(0, 0, 0, 0.4); */
    background: rgba(202, 155, 135, 0.85);
    bottom: 0px;
    color: #fff;
    left: 15%; 
    line-height: 1;
    /* padding: 45%; */
    margin: 10px 20px 0px 10px;
    /* padding: 3px 4px; */
    padding: 2px 5px 5px;
    position:absolute;
    white-space:normal;
    justify-content:left;
    align-items:center;
 }
  
  /* @import 'node_modules/modern-normalize/modern-normalize.css'; */
        /* npm install modern-normalize
          Resets elements for browser consistency.  
          https://www.npmjs.com/package/modern-normalize
        */         
  
  /* Component-specific stylesheets, if any. 
    @import "component1.css";   
  */

/*   ----- Variables  -----  */
:root {
  /*--custom-color-name:  FIX AND RENAME THESE */
  --light-blue: rgba(196, 225, 242, 1);
  --ivy-green: rgba(165, 191, 107, 1);
  --olive-green: rgba(100, 116, 88, 1);
  --light-pink: rgba(221, 183, 170, 1); 
  --nude-pink: rgba(202, 155, 135, 1);
  --dusty-pink: rgba(191, 144, 126, 1); 
  --nude-pink-85:rgba(202, 155, 135, 0.85);
  --green-15: rgba(202, 155, 135, 0.15);
  --light-pink-85:rgba(221, 183, 170, 0.85);
  --dark-green:rgba(44, 64, 1, 1);
  --light-blue-85: rgba(196, 225, 242, .85);
  --dark-blue-0:rgba(196, 225, 242, 0);
  --ivy-green-70:rgba(165, 191, 107, 0.7);
  --rich-brown:rgba(62,32,11,1);
  --pink-85: rgba(255, 220, 221, .85);
  --ivy-green-25:rgba(165, 191, 107, 0.25);
  --ivory:rgba(249, 240, 223, 1);
  --vibrant-pink:rgba(231, 58,101,1);

}


/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
html, body {
  height: 100%;
  width: 100%;
  /* Can alternatively define in html {} or :root {} */
  
  /* color: var(--ivory) !important; */ /*SHOW PROF THIS*/
  color: rgba(249, 240, 223, 1);
  font-size: 1em;
  line-height: 1.2;
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  /* Define with at least one font name and its related generic family name.*/
  margin: 3% auto;
  padding: 30px;
  background:url(images/rose-trellis-tennis-court-1200.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  max-width: 95%;
  /* max-width: 1000px; */
  /* min-width: 600px; */
  accent-color:rgba(231, 58,101,1); /* radio buttons, checkboxes, range and progress elements color*/
}

/*  ----- Page layout blocks -----  */
header {
  background-color: rgba(165, 191, 107, 0.85); /*0.25*/
  color: rgba(44, 64, 1, 1); /* from body instead*/
  color: var(--dark-green);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  margin: 0px auto;
  padding: 10px 25px; /*10px 25px*/
  max-width: 1200px;
  border-style:ridge;
  border-radius: 1.5%;
  border-radius: 15px;
}

main {
  /* background-color:var(--olive-green);
  color:var(--ivy-green); */
  /* font-family: 'Montserrat', 'Raleway', sans-serif; */
  margin: 0px auto;
  padding: 25px;
  max-width: 1200px;
  /* border-style:ridge;
  border-radius: .5%; */
}

/* section {
  background-color: rgba(248, 229, 212, 0.35);
} */

  .home{
    background-color: rgba(255, 220, 221, .9);
    margin: 4.5%;
    padding: 1px 10px;
    color: rgba(62,32,11,1);
    /* rgba(93, 45, 49, 1); */
  }
  .staff {
    padding: 1px 3px 5px;
    padding-bottom: 20px;
    margin-bottom: 5px;
  }
    /* article{}
     #topic1 {}
    #topic2 {}
div {}
aside {} */
zenArticle article{
  padding: 1px 2px 2px 1px;
  margin: 0 auto;
}

/* span for ProductQuantity */
.markerSpace{
  padding: 10px 10px;
}

footer {
  background-color: rgba(165, 191, 107, 0.8);
  /* background-color:var(--olive-green); */
  /* color:var(--nude-pink); */
  color: rgba(44, 64, 1, 1);
  font-family: 'Montaga', 'Montserrat', 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 1em;
  margin: 1% auto;
  padding: 0.5%;
  max-width: 1200px;
  /* border-style: 1px solid rgba(248, 229, 212, 1); */
  border-radius: 15px;

  /* background-color:var(--olive-green);
  color:var(--olive-green);
  font-family: 'Montserrat', sans-serif;
  margin: 0px auto;
  padding: 10px 25px;
  max-width: 1200px; */
  /* border-style:ridge; */
  /* border-radius: 1.5%; */
}

/* ----- Anchors ----- Text links */
/* a {}
a:link {}
a:hover {}
a:active {}
a:visited {} */

/*  ----- Navigation ----- Override text links for navigation only.  */

nav {
  background-color:rgba(196, 225, 242, 0);
  /* background-color: var(--ivy-green); */
  /* color:var(--light-green); */
  /* color: var(rgba(196, 225, 242, 1)); */
  margin: 2.5% auto;
  padding: 1%;
  text-decoration:solid;
  font-weight: bold;
  /* line-height: 5%;*/
  font-size: 1.5em;
  display: flex;
  
}

nav a {
  background-color: rgba(196, 225, 242, .85);
  color:rgba(231, 58,101,1);
  /* font-family:; */
  margin: 15px; /*auto*/
  padding: 11px;
  border-style:none;
  text-align: center;
  text-decoration: none;
  display: flex;

}

nav a:hover {
  text-decoration: none;
  background-color: rgba(231, 58,101,1);
  color: rgba(196, 225, 242, .85);
}

/* Secondary Nav Section for Index.html contents*/
.home-topics{
  display:flex;
  flex-flow: row wrap;
  /* flex-wrap:wrap; */
  row-gap: 3px;
  /* margin: 5% auto;
  padding: 13% auto;  */
} 

.home-topics nav {
  background-color:rgba(231, 58,101,1);
  /* background-color: var(--ivy-green);
  color:var(--light-green); */
  color: rgba(196, 225, 242, 1);
  margin: 0;
  /* padding: 0; */
  margin: 2% auto;
  padding: 3%; 
  text-decoration:solid;
  font-weight: bold;
  /* line-height: 1%; */
  font-size: 3px;
  text-align: center;
  display: flex;
}

.home-topics a {
  /* background-color:rgba(231, 58,101,.20); */
  background-color: rgba(122, 7, 57, 0.75);
  color: rgb(174, 216, 240);
  /* font-family:; */
  margin:2% auto;
  padding: 8px;
  border-style:groove;
  border-radius: 20px 20px 12px 12px;
  /* text-align: center; */
  text-decoration: none;
}

.home-topics nav a:hover {
  text-decoration: none;
  background-color: rgb(174, 216, 240, 1);
  /* background-color: rgba(22, 217, 220, 1); */
  color: rgba(192, 38, 105, 0.85);
  /* color: rgba(122, 7, 57, 0.85); */

}

/*  -----  Typography  ----- */
/* p {}
br {}
ol, ul, dl {}
li {}
dt {}
dd {} */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montaga', serif;
} 
/* h1 {
  font-family: 'Montaga', serif;
} */
h2 {
  color: rgba(44, 64, 1, 1);
  background: rgba(221, 183, 170, 0.85);
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  height: 25px;
  text-align: center;
}
h3{ 
  text-align:center;
  padding: 10px 0px 0px 0px;
  margin: 10px 0px 0px;
  /* font-weight: 600; */
  /* width: auto; */
}
/*
h4 {}
h5 {}
h6 {} */

/* abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {} */
.fa-lg {
  font-size: 28px;
  /* size: 1.5em; */

}

/*  ----- Coding or instructional typography ----- */
/* pre {}*/
code {
  color: rgba(231, 58,101,1);
  /* background-color: rgba(165, 191, 107, 0.15); */
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  padding: 2px;
  font-size: medium;
}

/*kbd {}
samp {}
var {}
del {} 
ins {} */

/*  ----- Table ----- */
table {
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse;
  /* margin: 10px 12px 10px 12px; */
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 95%;
  padding: 20px 20px 20px 20px;
}

caption {
  background-color: rgba(221, 183, 170, 1);
  /* background-color: rgba(222, 250, 238, 1); */
  height: 25px;
  text-align: center;
  padding: 2px;
  padding-top: 8px;

}
.order caption{
  background-color: rgba(222, 250, 238, 1);
}
.staff caption{
  background-color: rgba(221, 183, 170, 1);
  height: 25px;
  text-align: center;
  padding: 2px;
  padding-top: 8px;
  color: 	rgba(153,0,77,1)
}
.zen caption {
  background-color: rgba(221, 183, 170, 1);
  height: 25px;
  text-align: center;
  padding: 2px;
  padding-top: 8px;
  padding-bottom: 4px;
  color: rgba(153, 0, 77, 1);
  width: 25%;
}

thead {
  background-color: rgba(33, 211, 134, 1);
  height: 40px;
  padding: 2%;
}

#staffHead thead {
  background-color: rgba(221, 183, 170, 0.95);
  height: 40px;
}

#zenHead thead {
  background-color: rgba(221, 183, 170, 0.95);
  height: 40px;
  padding: 10px 10px 10px 10px;
  padding-bottom: 2%;
  margin: 10px 10px 10px 10px;
  width: 25%;
}


tbody {
  text-align: center;
}

/* tfoot {}
tr {}
  tr:nth-child(even) {}
th {} */
  th:nth-child(4){
    text-align: center;
  }
th, td{
  border: 1px solid rgba(230,251,242,1);
}

.zenSave {
  /* width: 2%; */
  column-width: 1%;
}

tr td{
  border-bottom: 1px solid rgba(165, 191, 107, 0.7);
  min-width: 100px;
  padding: 10px;
  text-align: center;
}
tr.staffCol {
  background-color: rgba(221, 183, 170, 0.85);
}
/* td {}, td:nth-child(3) */
.zenButton {
  margin: 0 auto;
  align-content: center;
  padding: 11px;
  /* width: 1%; */
}
td:nth-child() {
  text-align: left;
  padding: 12px;
}
  td:nth-child(4) {
    text-align: center;
  }

/* .zenTable tr:nth-child(6) {text-align: right;} */
.zenTable th:nth-child(6) {
  width: 5%;
  align-self: center;
  padding-left: 10%;
  margin-left: 10%;
}

tr:nth-child(even) td {background-color: rgba(221, 183, 186, 0.65);}
.staffCol:nth-child(odd) {background-color: brown;}
.staffH {color: bisque;}

/* colgroup {}
data {}
datalist {} */

#orderTable {
  padding: 20px 5px;
  background-color: rgba(159, 240, 205, .7);
  /* background-color: rgba(165, 191, 107, 0.7); */
}
#staffTable{
  color:			rgba(249, 240, 223, 1);
  padding: 20px;
  padding-bottom: 15px;
  background-color: rgba(191, 144, 126, 1);

  /* background-color: rgba(165, 191, 107, 0.7); */

}
#zenTable {
  color: rgba(249, 240, 223, 1);
  padding: 20px;
  padding-bottom: 15px;
  background-color: rgba(191, 144, 126, 1);
  width: 100%;
  align-content: center;
  /* min-width: 55%; */
  /* max-width: 25%; */
  /* background-color: rgba(165, 191, 107, 0.7); */

}

#zenTableAdd{
  color: rgba(249, 240, 223, 1);
  padding: 20px;
  padding-bottom: 15px;
  background-color: rgba(191, 144, 126, 1);
  /* min-width: 55%; */
  max-width: 25%;
  /* background-color: rgba(165, 191, 107, 0.7); */
  /* align-content: center; */
  margin-left: auto;
  margin-right: auto;
  /* width: 55%; */
  max-width: 100px; /*this made it work centered*/
  align-content: center;

}

/*  ----- Form ----- */
form, button, input, select, textarea {
  font-family:'Montserrat', sans-serif;
  padding: 2% 2% 2% 2%;
  margin-bottom: 2%;
  line-height: 1.1;
  color: rgba(231, 58,101,1);
  font-weight:bolder;
  /* font-size: 110%; */
}

/* button for 'generate' Staff page for React */
#listeningServer{
  display:inline-block;
  padding: 8px;
}
.staff button{
  margin: auto;
  display: inline-block;
}
/* .zen button {
  margin: auto;
  display: inline-block;
} */
.contact {                            /*Let us know how we're doing*/
  background-color: rgba(255, 220, 221, .85); /*light pink*/
  /* rgba(202, 155, 135, 0.65); */
  /*rgba(196, 225, 242, .85);*/
  color:rgba(231, 58,101,1);
  /* font-family:; */
  width: 65%;
  margin:auto;
  padding: 2px;
  border-style:none;
  text-align: center;
  text-decoration: none;
  
  /* background-color: rgba(255, 220, 221, .85); */
  /* margin: 4.5%;
  padding: 1px 10px; */

  color: rgba(62,32,11,1); /*brown color text*/
  /*background-color: rgba(255, 220, 221, .85); light pink color bkgd*/
  /* margin: 2.5%;
  padding: 1px 10px; */
  

}
.contact-p{
  background-color: rgba(255, 220, 221, .80); /*light pink*/
  /*color: rgba(62,32,11,1); brown color text*/
  /* background: rgba(221, 183, 170, 0.85); */
  color:  rgba(2,73,135,1);
  margin:6px;
  padding: 2px;
  border-radius: .3em;
  text-align: center;
  /* width: 85%; */
}

.buyer, .order{
  background-color: rgba(255, 220, 221, .4);
  /* padding: 0px 0px 1px 0px; */

}
.purchase{
  /* color: rgba(11, 70, 44, 1); */
  color: rgba(13, 84, 53, 1);
  background-color: rgba(237, 252, 245, .75);
  margin-bottom: 1px;
  /* padding-bottom: 1px; */
}
.order-p{
  background-color: rgba(255, 220, 221, .80); /*light pink*/
  /*color: rgba(62,32,11,1); brown color text*/
  /* background: rgba(221, 183, 170, 0.85); */
  color:  rgba(14, 91, 58, 1);
  margin:10px 5px 10px 5px;
  padding: 7px 13px 13px 13px;
  border-radius: .3em;
  text-align: left;
  /* width: 85%; */
}
.buyer{
  background-color: rgba(159, 240, 205, .85);
  /* height: 25px;
  text-align: center;
  padding: 1px; */

}

.staff-p{
  background-color: rgba(255, 220, 221, .80); /*light pink*/
  /*color: rgba(62,32,11,1); brown color text*/
  /* background: rgba(221, 183, 170, 0.85); */
  color:  rgba(14, 91, 58, 1);
  margin:5px 0px 8px 0px;
  padding: 7px 0px 6px;
  border-radius: .5em;
  text-align: center;
  

}
.staff-pb{
  background-color: rgba(255, 220, 221, .80); /*light pink*/
  color:  rgba(14, 91, 58, 1);
  margin:15px 0px 5px;
  padding: 6px 0px 5px 0px;
  text-align: center;
  border-radius: 1em;
}

fieldset {
  border: 2px solid rgba(231, 58,101,1);
  background-color: rgba(196, 225, 242, .85); /*light blue*/
  color: rgba(62,32,11,.85);
  font-weight: bold;
    /*rgba(165, 191, 107, 0.7);*/
  padding: 1%;
  margin-bottom: 4%;
  /* border-bottom: 0; */
}
  legend {
    background-color: rgba(191, 144, 126, .9);
    border: 2px solid rgba(231, 58,101,1);
    padding: 3px;
    /* font-size: 50%; */
  }

label {
  display: block; /*each on own line */
  margin-top: 3%; /* not squished*/
  margin-bottom: 3%;
  padding: 7px 0px 0px 7px;
  font-size: 90%; /* from body */
  /* width: 90%; */
  
}

.zen label {
  /* display: block; */
  /*each on own line */
  /* margin-top: 5%; */
  /* not squished*/
  /* margin-bottom: 9%; */
  padding: 7px 2px 2px 7px;
  font-size: 2.5em;
  margin: 5px 8px 8px 5px;
  /* from body */
  /* width: 90%; */

}
/* for react */
/* .contactLabel{ */
  /* padding: 13px;
  margin: 5px; */
  
/* } */

.quantity{
  margin:auto;
}
.delivery{
  display:inline-block;
}



label.required:after{
  content: " *";
  color: red;
  /* border-style: dashed; */
}

button{
  font-size:medium;
  border-radius: 15px;
  border-color: rgba(231, 58,101,1);
  background-color: rgba(255,255,240,1);
  display: grid;
  /* margin: auto; */
  /* width: 20%; */
  margin-right: 120px;
  margin-left: 20px;
  justify-content: center;
  padding: 3%;
}

button:hover {
  background-color: rgba(231, 58,101,1);
  color: white;
}
input {
  padding: 2%;
  margin: auto;
  font-size: 120%; /*from body size */
  /* color: rgba(231, 58,101,1); */
  color: rgba(44, 64, 1, 1); /*dark green*/
  font-weight: bold;
  align-items: center;
}

  input[type="radio"]{
    /* align-items: center;
    justify-content: center; */
    padding: 25px;
    /* display:inline;
    place-content: center; */
    /* color: rgba(231, 58,101,1); */
    width: auto;
    margin-right: 10px; /* space between radio fields*/
    margin-left: 20px; /* space between radio + radio label */
  }

  input[type="email"], [type="text"], [type="address"], [type="number"], [type="date"]{
    border-radius: 1em;
    background-color: rgba(255,227,233,.75);
    padding: 10px 8px 8px 10px;
    margin: 5px 6px 6px 5px;
    font-size: medium;
    align-items: center;
  }

input[type="number"]{
  width: 45%;
  margin: auto;
  /* align-items: center; */
}



  input[type="checkbox"]{
    margin-top: 10px;
    margin-right: 10px; /* space between radio fields*/
    margin-left: 20px; /* space between radio + radio label */
  }
  
  /* input invalid border change*/
  input:invalid{
    border: 3px solid red;
  }

  /* input valid border change*/
  input:valid{
    border: 2px solid green;
  }


  /*cursor placed in field*/
  :focus{ 
    background-color: rgba(165, 191, 107, 0.5); /*light green when mouse in field*/
    /* rgba(100, 116, 88, 1); */
  }

  /* required fields*/
  *:required{ 
    border: 3px solid red;
    
    /* rgba(221, 183, 170, 1); */
  }

  /* placeholder for different browsers */
  *::placeholder{
    color:rgba(231, 58,101,1);
    font-size: 90%;
    text-align: center;
  }

  /* Drop-down selection text color */
  /* option:checked{
    color: rgba(231, 58,101,1);
  } */
  

  /* output {}
  meter {}
  progress {}*/
  select {
    color: rgba(231, 58,101,1);
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(255,227,233,.75);
    font-size:15px;
  }
    /*optgroup {}*/
    /* option:checked, option:hover {
      color: rgba(249, 240, 223, 1);
      background: rgba(231, 58,101,1);
    } */
  textarea {
    border-radius: 1em;
    background-color: rgba(255,227,233,1.000);
    font-size: medium;
    font-weight:lighter;
    width: 40%;
    
    
  }
.delivery{
  border-color: red;
  margin-top: 12px;
  padding: 10px 12px 10px 12px;
  display: block;
 
}

.text{
  display: block;
  margin-right: 10px;/* space between radio fields*/
  margin-left: 200px; /* space between radio + radio label */
}

.res{/* result body response in index.js for let info fx call in 'html:' */
  background-color: rgba(196, 225, 242, .9);
  padding: 10px;
  margin: 7px;
  color: rgb(33, 47, 1);
  font-weight:500;
  font-family:'Montserrat', sans-serif;
}

.resorder{/* result body response in index.js for let info fx call in 'html:' */
  background-color: rgba(159, 240, 205, .85);
  padding: 10px;
  margin: 7px;
  color: rgb(33, 47, 1);
  font-weight:500;
  font-family:'Montserrat', sans-serif;
}
/* ----- Media ----- */

/* figure {
  width: 320px;
  margin: .75% auto;
  padding: 2%;
} */
  /* figcaption {} */

  /* figure img {
    line-height: 1;
    vertical-align: middle;
    width:100%;
  
  } */

  /* .gallery { 
    display: flex;
    flex-flow: row wrap;
    align-items:flex-end;
    justify-content:space-evenly;
    /* background-color:rgba(165, 191, 107, 0.25); comment this out orig*/
    
  /* } */

  /* .gallery figure {
    width: 320px;
    margin:.75%;
    padding: 10px;
    
  } */
  /* .gallery img {
    width:100%; */
    /* background-color:var(--dusty-pink); orig commented out*/
    /* background-color: rgba(202, 155, 135, 0.15);*/
    /* color: rgba(255, 220, 221, 1);
    padding: 0;
    margin:10% auto;
    
  } */

  /* .gallery figcaption {
    display:block;
    padding:1.5%;
    background-color: rgba(202, 155, 135, 0.85);
  } */

/* svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {} */

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */

/* .floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {} */

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}


/* Above copied from a6's main.css */

/* .App {
  text-align: center;
} */

.App-logo {
  height: 10vmin;/*40*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 0 0 0 0; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
/* } */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
